;-----------------------------------------
; Contrib Modules
;-----------------------------------------

; commerce_iats
projects[commerce_iats][type] = module
projects[commerce_iats][download][type] = git
projects[commerce_iats][download][branch] = 7.x-2.x
projects[commerce_iats][download][url] = "git@github.com:thinkshout/commerce_iats.git"
projects[commerce_iats][subdir] = commerce_iats

;-----------------------------------------
; Libraries
;-----------------------------------------

; iatspayments
projects[iatspayments][download][type] = git
projects[iatspayments][download][branch] = master
projects[iatspayments][download][url] = "git@github.com:iATSPayments/PHP.git"
projects[iatspayments][directory_name] = "iatspayments"
projects[iatspayments][type] = "library"