core = 7.x
api  = 2

projects[iatspayments][download][type] = "get"
projects[iatspayments][download][url] = "https://github.com/iATSPayments/PHP/archive/v1.0.tar.gz"
projects[iatspayments][directory_name] = "iatspayments"
libraries[chosen][destination] = "libraries"